.mainBG{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.24);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.modal{
    height: 12.5rem;
    width: 18.75rem;
    background-color: blue;
}